*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.container{
    padding:40px;
}

h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.text p{
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 30px;
}

.left input{
    display: block;
border: 2px solid #eee8e8;
padding: 1.5rem;
width: 60%;
margin-bottom: 15px;
}
.left button{
    border: 1px solid #eee8e8;
    padding: 5px 20px;
}

.monthly p,.general p{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;

}

.monthly{
    margin-bottom: 35px;
}
.all{
    display: flex;
    
}
.left,.right{
    width: 50%;
}
